<!DOCTYPE html> {% import 'macros_file.html' as macro %}
<html lang="en">

<head>
    <!-- Header -->
    {{ macro.standard_header("Bug Overflow") }}
</head>

<body>
    <!-- Navigation -->
    {{ macro.navbar(index, tags, about) }}

    <!-- Page Container -->
    <div class="container">
        <!-- Header -->
        {{ macro.header_image() }}

        <!-- Content -->
        <div class="content">

            <div class="main">
                <div class="question">
                    <table>
                        <tbody>
                            <tr>
                                <td class="postcell">
                                    <div>
                                    <!-- Uploaded Image -->
                                        <div class="post-image">
                                            <img src="{{url_for('static', filename=bug_image)}}" alt="">
                                            {% if thread.image.geoloc %}
                                            <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ thread.image.geoloc }}&zoom=8&size=512x512&key=AIzaSyBB3o_tLwpc9tvBuoFF0S-bdv934mrmhv4">
                                            {% endif %}
                                        </div>
                                        <br>
                                        <!-- Image Tags, if any -->
                                        <div class="post-taglist">
                                            Tags: {% for tag in thread.image.tags %}
                                            <a href="{{url_for('tags', path=tag.name)}}">
                                                <mark>{{ tag.name }}</mark>
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </td>
                                <!-- Thread -->
                                <td class="descriptioncell">
                                    <!-- Title / Question -->
                                    <div class="question-header">
                                        <h1> {{ thread.title }} <br><small>by {{ thread.user.username }}</small></h1>
                                        
                                    </div>
                                    <br>
                                    <!-- Description -->
                                    <div class="post-desc">
                                        <h3> Description: </h3>
                                        <p> {{ thread.body }} </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <!-- Discussion / Comments Section -->
                <div class="discussion">
                    <div id="discussion-header">
                        <h2>Discussion</h2>
                        <hr>
                    </div>



            <!-- Comments Section -->
                    <div class="col-md-6" id="comments-container">
                        <div id="comments-form">
                        {% if not session.logged_in %}
                        <!-- CHECKS IF LOGGED IN, IF NOT THEN DISABLE COMMENTING -->
                            <!-- Alert if not logged in -->
                            <div class="alert alert-danger" role="alert">
                                You must have an <a href="{{url_for( 'signup')}}" class="alert-link">account</a> to comment.
                            </div>
                        
                        {% else %}
                        <!-- commenting form -->
                        <form action="{{url_for('postcomment', path=thread.image.imagename)}}" method="post"> 
                            <div class="form-group">
                                <label for="cbody">Comment:</label>
                                <textarea class="form-control" rows="5" name="cbody" id="cbody"></textarea>
                                <button type="submit" class="btn btn-primary" id="submit-comment">submit</button>
                            </div>
                        </form>   
                        {% endif %}
                        <!-- comments displayed here, nested -->
                            <div id="comments">
                            {% for c in thread.comments%}
                                <ul class="media-list">
                                    <li class="media">
                                    <!-- commentors icon -->
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="http://placehold.it/64x64" alt="Generic placeholder image">
                                        </a>
                                        <div class="media-body">
                                        <!-- commentors name -->
                                            <h4 class="media-heading">{{c.user.username}}</h4> 
                                            {{c.body}}
                                            <!-- comment reply button -->
                                            <p><a href="#">Reply</a></p>
                                            {% for c2 in c.children recursive%}
                                            <!-- nested comment -->
                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object" src="http://placehold.it/64x64" alt="Generic placeholder image">
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading">{{c2.user.username}}</h4>
                                                    {{c2.body}}
                                                    <p><a href="#">Reply</a></p>
                                                    {{ loop(c2.children) }}
                                
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        </li>
                                    </ul>
                                    {% endfor %}
                                </div>

                                            <!-- Nested comment -->
<!--                                             <div class="media">
                                                <a class="pull-left" href="#">
                                                    
                                                </a>
                                                <div class="media-body"> -->

                                                   

                                                    <!-- Nested comment -->
                 <!--                                    <div class="media">
                                                        <a class="pull-left" href="#">
                                                            
                                                        </a>
                                                        <div class="media-body">
                                                           

                                                            

                                                        </div>

                                                    </div>
                                                </div>

                                            </div> -->

                                            <!-- Nested comment -->
       <!--                                      <div class="media">
                                                <a class="pull-left" href="#">
                                                    
                                                </a>
                                                <div class="media-body">
                                                    
                                                    

                                                </div>

                                            </div>
                                        </div> -->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

    <br>


    <!-- Footer -->
    {{ macro.standard_footer() }}
</body>

</html>
