<!DOCTYPE html>
{% import 'macros_file.html' as macro %}
<html lang="en">

<head>
    {{ macro.standard_header("Bug Overflow") }}
</head>

<body>
    <!-- Navigation -->
    {{ macro.navbar() }} 

    <!-- Page Container -->
    <div class="container">
        <!-- Header -->
        {{ macro.header_image() }} 

        <!-- Content -->
        <div class="content">
            <div class="question-header">
                <h1> {{ question }} </h1>
            </div>
            <div class="main">
                <div class="question">
                    <table>
                        <tbody>
                            <tr>
                                <td class="postcell">
                                    <div>
                                        <div class="post-image">
                                            <img src="{{url_for('static', filename=bug_image)}}" alt="">
                                        </div>
                                        <br>
                                        <div class="post-taglist">
                                            Tags:
                                            {% for tag in tags %}
                                            <a href="#">
                                                <mark>{{tag}}</mark>
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </td>
                                <td class="sidebarcell">
                                    <div>
                                        <ul class="list-unstyled">
                                            <li>asked: Today</li>
                                            <li>location:  Chicago, IL</li>
                                            <li>views: 42</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="discussion">
                    <div id="discussion-header">
                        <h2>Discussion</h2>
                        <hr>
                    </div>
                    <div class="col-md-6" id="comments-container">
                        <div id="comments">
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                                <button type="submit" class="btn btn-primary" id="submit-comment">submit</button>
                            </div>
                            <div id="children">
                                
                            </div>    
                        </div>
                    </div>
                    <div class="col-md-6">
                        
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <br>


    <!-- Footer -->
    <div id="footer">
        <footer>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Bug Overflow 2016</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
