<!DOCTYPE html> {% import 'macros_file.html' as macro %}
<html lang="en">

<head>
    {{ macro.standard_header("Bug Overflow") }}
</head>

<body>
    {{ macro.navbar(index,tags,about) }}

    <!-- Page Container -->
    <div class="container">
        <!-- content -->
        <div class="content">
        {% if session.role == 'admin' %}
            <div class="jumbotron text-center">
                <h1>Operations</h1>
                <p>This page is for <strong>admins</strong> <i>only</i></p>
            </div>
            <div class="col-md-6">
                <center><a href="{{ url_for('backup') }}" class="btn btn-danger">Dump DB</a></center>
            </div>
            <div class="col-md-6">
            <form action="{{url_for('restore')}}" method="post">
                <center>
                <button type="submit" class="btn btn-success">Reload DB</button>
                </center>
            </form>
<!--                 <center><a href="{{ url_for('restore') }}" class="btn btn-success">Restore DB</a></center> -->
                
                {% if backup_ids %}
                {% for id in backup_ids %}
                    <ul>
                        <li><!-- <a href="{{ url_for('restore', backupid=id[1]) }}">{{id[0]}}</a> -->
            <form action="{{url_for('restore')}}" method="post">
                <center>
                <button type="submit" name="id" value="{{id[1]}}" class="btn btn-success">{{id[0]}}</button>

                </center>
            </form>
                        </li>
                    </ul>
<!--                     <div class="radio">
                        <label><input type="radio" name="backup"></label>
                    </div> -->
                {% endfor %}
                {% endif %}
            </div>
            {% else %}
            <emphasize>You don't belong here...</emphasize>
            {% endif %}
        </div>
    </div>
</body>

</html>
