<!DOCTYPE html>
{% import 'macros_file.html' as macro %}
<html lang="en">

<head>
    {{ macro.standard_header("Bug Overflow") }}
</head>

<body>
    {{ macro.navbar() }} 

    <!-- Page Container -->
    <div class="container">
        <!-- Header -->
        <div class="page-header">
            <img id="bugicon" src="images/Bug-512.png">
            <p><i>"Serving your bug finding needs..."</i></p>
        </div>

        <br>
        <div class="content">
            <div class="col-md-6">
                <form>
                    <div class="form-group row">
                        <label for="inputUName" class="col-sm-4 form-control-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputUname" placeholder="Username">
                            </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-4 form-control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 form-control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-4 col-sm-10">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6"></div>
        </div>


        <br>


        <!-- Footer -->
        <div id="footer">
            <footer>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>Copyright &copy; Bug Overflow 2016</p>
                    </div>
                </div>
            </footer>
        </div>

</body>

</html>
