<!DOCTYPE html> {% import 'macros_file.html' as macro %}
<html lang="en">

<head>
    {{ macro.standard_header("Bug Overflow") }}
</head>

<body>
    <!-- Navigation -->
    {{ macro.navbar() }}


    <!-- Page Container -->
    <div class="container">
        <!-- Header -->
        {{ macro.header_image() }}

        <br>
        <div class="content">
            <p>
                <center>
                    <h1><i>*** GALLERY OF TEXT-BASED TAGS GOES HERE TO FILTER SELECTION PROCESS??? ***</i></h1></center>
            </p>
        </div>


        <br>


        <!-- Footer -->
        {{ macro.standard_footer() }}

</body>

</html>