<!DOCTYPE html> {% import 'macros_file.html' as macro %}
<html lang="en">

<head>
    {{ macro.standard_header("Bug Overflow") }}
</head>

<body>
    <!-- Navigation -->
    {{ macro.navbar() }}

    <!-- Page Container -->
    <div class="container">
        <!-- Header -->
        {{ macro.header_image() }}

        <!-- Content -->
        <div class="content">

            <div class="col-md-6">
                <form action="{{url_for('upload')}}" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="title" class="col-sm-4 form-control-label">Question</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title" placeholder="what bug is this?">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="body" class="col-sm-4 form-control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" name="body" placeholder="give a description"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tags" class="col-sm-4 form-control-label">Tags</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="tags" placeholder="at least one tag such as (spider flying worm)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="file" name="file">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-5 col-sm-10">
                            <input type=submit value=Upload>
                            <!-- <button type="button" class="btn btn-primary btn-md">submit</button> -->
                        </div>
                    </div>
                </form>
            </div>
            <h2>Posting Tips:</h2>
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="alert alert-success">
                        <strong>Question:</strong> Try adding your location in your question!
                    </div>
                </div>
                <div class="form-group row">
                    <div class="alert alert-info">
                        <strong>Description:</strong> Be as descriptive as possible. This will help users more easily identify the bug for you.
                    </div>
                </div>
                <div class="form-group row">
                    <div class="alert alert-warning">
                        <strong>Tags:</strong> Separate different tags with spaces. Tagging helps us collect a database of bugs based on these tags so that other users can search for them on this criteria.
                    </div>
                </div>
            </div>
        </div>

    </div>


    <br>
    <!-- Footer -->
    {{ macro.standard_footer() }}
</body>

</html>